DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DATABASE_URL=postgres://experimentos:experimentos@db:5432/experimentos
REDIS_URL=redis://redis:6379/0

CASSANDRA_CONTACT_POINTS=cassandra
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=experimentos
CASSANDRA_STICKY_ENABLED=True
